body {
background: #1abc9c;
font-family: Tahoma, Arial, sans-serif; 
color: #ffffff;
}
p, h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table {
    border-collapse: collapse;
}
p, h4 {
    font-size: 30px; 
    margin-bottom: 0;
}
h4 {
    font-size: 14px; 
}
ul, ol {
    margin: 0;
}
table tr td {
    padding: 5px;
}
table {
	width: 100%;
}

img {
	height: 30px;
	width: auto;
}

a{
    color: inherit !important;
}

.header img {
    display: block;
    width: 70px;
    margin: auto;
    height: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.post-title a {
    color: #ffffff;
}

.article-author {
    width: 50%;
    float: left;
}

.article-created-date {
    text-align: right;
}